.header{
    height: 90px;
    width: 100%;
}

.header__mobile, .header__burger{display: none;}

.header__body{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    background: var(--white-color);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.header__logo-block{cursor: pointer;}

.header__navbar{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.header__navbar-list{
    display: flex;
    gap: 50px;
    align-items: center;
}

.header__navbar-links{
    position: relative;
    font-weight: 400;
    color: var(--info-color);
    font-size: var(--fs-4);
    letter-spacing: .3px;
    cursor: pointer;
}

.header__navbar-item button{
    height: 45px;
    padding: 12px 44px;
    margin-left: 20px;
    font-size: var(--fs-3);
}

.header__navbar-item > span::before{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background: #222;
    left: 50%;
    bottom: 0;
    transition: .3s;
}
.header__navbar-item > span:hover{color: var(--main-color);}
.header__navbar-item > span:hover::before{width: 100%; left: 0;}

.header__mobile-list .header__navbar-item > form > button{margin: 0;}