.timer-block{
    position: relative;
    padding: 70px 0;
    background-image: url('../../images/bg/timer_fon.jpg');
    background-size: cover;
    z-index: -1;
    overflow: hidden;
}
.timer-block__body{
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.timer-block__body * {color: var(--white-color);}

.timer-block__title{text-align: center;}

.timer-block__title > h1{
    font-size: var(--fs-1);
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
}
.timer-block__title > span{
    display: block;
    font-size: var(--fs-2);
    font-weight: 700;
}

.timer-block__list{width: 100%;}

.timer-block__item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.timer-block__item span:first-child{
    position: relative;
    font-size: var(--num-size-1);
    font-weight: 400;
    /* padding-right: 3rem; */
    /* padding-left: 3rem; */
}

.timer-block__item::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 50%;
    background: var(--white-color);
    top: 17%;
    right: 0;
}

.timer-seconds::before{display: none;}

.timer-block__item span:last-child{
    font-size: var(--fs-2_5);
    font-weight: 700;
    margin-top: -1.4rem;
}

.timer-days{order: 1;}
.timer-hours{order: 2;}
.timer-minutes{order: 3;}
.timer-seconds{order: 4;}