.pricing{
    background: var(--white-color);
    padding: var(--pt-size) 0 100px 0;
}

.pricing__title{
    text-align: center;
    width: var(--title-block-width);
    margin: 0 auto 2.5rem;
}

.pricing__title > span{color: var(--info-color);}

.pricing__list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.pricing__item{
    flex-direction: column;
    background: var(--sec-color);
    border-radius: 20px;
    width: 32%;
    height: 350px;
}
.pricing__item-info{
    display: flex;
    flex-direction: column;
}
.pricing__item-info > strong{
    font-weight: 400;
    font-size: calc(var(--fs-3) + 2px);
    line-height: 25px;
    margin-bottom: -2rem;
}

.pricing__item-info > strong::first-letter{text-transform: uppercase;}

.pricing__item-price{
    font-size: calc(var(--num-size-1) + 6px);
}
.pricing__item-time{
    font-weight: 400;
    font-size: var(--fs-4);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 1.2rem;
}

.pricing__btn{
    position: relative;
    width: 160px;
    height: 50px;
    overflow: hidden;
}

.pricing__item--standart * {color: var(--plan-standart-color);}
.pricing__item--standart button{
    color: var(--white-color);
    background: var(--plan-standart-color);
}

.pricing__item--premium * {color: var(--plan-premium-color);}
.pricing__item--premium button{
    color: var(--white-color);
    background: var(--plan-premium-color);}


.pricing__item--lifetime * {color: var(--plan-lifetime-color);}
.pricing__item--lifetime button{
    color: var(--white-color);
    background: var(--plan-lifetime-color);
}

.pricing__item-time{color: var(--main-color);}

.pricing__item--standart button:hover{background: #006DFF;}
.pricing__item--premium button:hover{background: #FF0012;}
.pricing__item--lifetime button:hover{background: #FF7411;}
