.header{
    height: 90px;
}

.header__body{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}

.header__logo-block{cursor: pointer;}

.header__navbar{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.header__navbar-list{
    display: flex;
    gap: 50px;
    align-items: center;
}

.header__navbar-item > span{
    position: relative;
    font-weight: 400;
    color: #666666;
    font-size: var(--fs-4);
    letter-spacing: .3px;
    cursor: pointer;
}

.header__navbar-item button{
    height: 45px;
    padding: 12px 44px;
    outline: none;
    border: 2px solid var(--main-color);
    background: var(--main-color);
    color: var(--white-color);
    border-radius: 4px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 20px;
    transition: .4s;
    font-size: var(--fs-3);
}

.header__navbar-item > span::before{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background: #222;
    left: 50%;
    bottom: 0;
    transition: .3s;
}
.header__navbar-item > span:hover{color: var(--main-color);}
.header__navbar-item > span:hover::before{width: 100%; left: 0;}

.header__navbar-item button:hover{
    background: var(--white-color);
    color: var(--main-color);
}