.timer-block{
    position: relative;
    padding: 70px 0;
    background-image: url('../../images/fon/timer_fon.jpg');
    background-size: cover;
}
.timer-block__body{
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.timer-block__body * {color: var(--white-color);}

.timer-block__title{text-align: center;}

.timer-block__title > h1{
    font-size: var(--fs-1);
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
}
.timer-block__title > span{
    font-size: var(--fs-2);
    font-weight: 700;
}

.timer-block__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-block__item span:first-child{
    position: relative;
    font-size: var(--num-size-1);
    font-weight: 400;
    padding-right: 3rem;
    padding-left: 3rem;
}

.timer-block__item span:first-child::before{
    position: absolute;
    content: '';
    width: 11px;
    height: 66%;
    background: var(--white-color);
    top: 17%;
    right: 0;
}

.timer-block__item:last-child span:first-child::before{display: none;}

.timer-block__item span:last-child{
    font-size: var(--fs-2_5);
    font-weight: 700;
    margin-top: -1.4rem;
}